{% extends 'triaje/index.html' %}
{%load static%}
{% block titulo %}
Triaje App - Listado Hospitales
{% endblock titulo %}
{% block body %}
<form class="form-signin" action="{% url 'info_details' %}" method="post">
    {% csrf_token %}
    <main class="container" id="main">
        <ul class = "list-group">
            {%if informes%}
            {% for inf in informes%}
            <li class="list-group-item list-group-item-success">
                <strong>ID INFORME:</strong> {{inf.id}}
                <strong>FECHA:</strong> {{inf.fecha}}
                <div class = "d-flex justify-content-end">
                    <button class="btn btn-success" type="submit" name ="id_info" value="{{inf.id}}">Ver detalle</button>
                </div>
                <div class = "d-flex justify-content-left">
                    <a href= "{% url 'info_delete' inf.id  %}" class="btn btn-danger">Eliminar</a>
                </div>    
            </li>
            {%endfor%}
            </form>
        </ul>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-success" href="{% url 'index' %}">Volver a Menu Principal</a>
        </div>
        {%else%}
        <h2>{{user.username}}, no tiene informes por mostrar.</h2>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-success" href="{% url 'index' %}">Volver a Menu Principal</a>
        </div>
        {%endif%}
    </main>
{% endblock body %}