{% extends 'triaje/index.html' %}
{%load static%}
{% block titulo %}
Triaje App - Detalle Hospital
{% endblock titulo %}
{% block body %}
<main class="container" id="main">
    <div class = "d-flex justify-content-center">
        <div class="card" style="width: 18rem">
            {%load static%}
            <img src="{% static '/img/salud_Madrid.jpg'%}" class="card-img-top" alt="..." />
            <div class="card-body">
                <p class="card-text"><strong>Número de registro: </strong> {{hospital.nro_registro}}
                <p class="card-title"><strong>Dirección: </strong>{{hospital.direccion_ubicacion}} {{hospital.direccion_vial_numero}} {{hospital.codigo_postal}}</p>
                <p class="card-text"><strong>Distancia: </strong>{{distance}} metros</p>
                <p class="card-text"><strong>Dependencia: </strong>{{hospital.dependecia}}</p>
                <div class = "d-flex justify-content-center">
                    <a target="_blank" href="{{url}}" class="btn btn-success">Ver en Maps</a>
                </div>
            </div>
        </div>
    </div>
</main>    
{% endblock body %}