div{
    width: 50%;
    padding: 1%;
}
/* p{
    color: #258320;
} */
.parrafo_negro{
    color:#000000;
    font-family: "Lucida Console", "Courier New", "monospace";
    font-size: larger;
}
.parrafo_verde{
    color:#258320;
    margin: 0;
    padding: 0;
    font-family: "proxima-soft","Helvetica","Arial";
    line-height: 1.618;
}
.page-header{
    /* CON ESTA PROPIEDAD ESTABLECE EL COLOR DE FONDO DE UN ELEMENTO, INCLUIDO EL RELLENO Y EL BORDE */
    background-color: #C25100;
    /* CON ESTA PROPIEDAD ESTABLECE EL MARGEN SUPERIOR DE UN ELEMENTO */
    margin-top: 0;
    /* ESTA PROPIEDADSE UTILIZA PARA GENERAR ESPACIO ALREDEDOR DEL CONTENIDO DE UN ELEMENTO */
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
    /* CON ESTA PROPIEDAD ESTABLECE EL COLOR DE UN ELEMENTO */
    color: #ffffff;
    /* CON ESTA PROPIEDAD ESTABLECE LA DIMENSION DE LA LETRA */
    font-size: 36pt;
    /* CON ESTA PROPIEDAD SE ESTABLECE LA DECORACIÓN QUE SE APLICA AL TEXTO DE UN ELEMENTO A NIVEL DE SUBRAYADO */
    text-decoration: none;
}
.content{
    /* CON ESTA PROPIEDAD SE ESTABLECE LA ANCHURA DE SU MARGEN IZQUIERDO*/ 
    margin-left: 40px;
}
h1,h2,h3,h4{
    /* CON ESTA PROPIEDAD SE ESTABLECE UNA LISTA DE FUENTES O FAMILIA DE FUENTES, CON UN ORDEN DE PRIORIDAD, PARA UTILIZAR EN UN ELEMENTO SELECCIONADO*/
    font-family: 'Lobster',cursive;
}
.date {
    /* CON ESTA PROPIEDAD SE ESTABLECE LA DECORACIÓN QUE SE APLICA AL TEXTO DE UN ELEMENTO A NIVEL DE SUBRAYADO */
    color: #828282;
}
.save {
    /* CON ESTA PROPIEDAD SE ESTABLECE LA ANCHURA DE SU MARGEN IZQUIERDO */
    float: right;
}
.post-form textarea, .post-form input {
    /* CON ESTA PROPIEDAD SE ESTABLECE LA ANCHURA DE SU MARGEN IZQUIERDO */  
    width: 100%; 
}
.top-menu, .top-menu:hover, .top-menu:visited {
    /* CON ESTA PROPIEDAD SE ESTABLECE UN COLOR DETERMINADO PARA UN ELEMENTO */
    color: #ffffff;
    /* CON ESTA PROPIEDAD SE ESTABLECE LA UBICACIÓN DE UN ELEMENTO AL LADO IZQUIERDO*/
    float: right;
    /* CON ESTA PROPIEDAD SE ESPECIFICA LA DIMENSIÓN DE LA LETRA */
    font-size: 26pt;
    /* CON ESTA PROPIEDAD SE ESTABLECE LA ANCHURA DE SU MARGEN DERECHO */
    margin-right: 20px;
}
.post {
    /* CON ESTA PROPIEDAD SE ESTABLECE EL MARGEN INFERIOR DE UN ELEMENTO*/
    margin-bottom: 70px;
}
.post h2 a, .post h2 a:visited{
    /* CON ESTA PROPIEDAD SE ESTABLECE UN COLOR DETERMINADO PARA UN ELEMENTO */
    color: black;
}