#main { 
    margin-top: 15%;
    /* padding: 15px; */
}

#navbar {
    margin-bottom: 5%;
}

.card {
    display: inline;
}

body{
    background-image: "img/backgroundImg.jpg";
}
/* p {
    color: red;
    margin-left: 5%;
}

#elParrafo{
    color: blue;
}

.clase_parrafo{
    color: green;
} */
