<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    {%load static%}
    <link rel="stylesheet" href="{%static '/styles.css'%}">
    <script src="{% static '/js/dea_finder.js' %}"></script>
    <title>Triaje App - Listado DEA</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success" >
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Find Your DEA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/listado">Listado</a>
                    <a class="nav-link" href="#">Users</a>
                </div>
            </div>
        </div>
    </nav>
    <form class="form-signin" action="{% url 'details' %}" method="post" id="id_detail">
        {% csrf_token %}
        <input type="text" name="lat" id="lat" style="display: none;"/>
        <input type="text" name="lng" id="lng" style="display: none;"/>
    <main class="container" id="main">
        <ul class = "list-group">
            {% for dea in deas%}
            <li class="list-group-item">
                <strong>Código:</strong> {{dea.codigo_dea}} 
                <strong>Nombre:</strong> {{dea.direccion_ubicacion}} 
                <div class = "d-flex justify-content-end">
                    <button class="btn btn-success" type="submit" name ="codigo_dea" value="{{ dea.codigo_dea }}">Ver detalle</button>
                </div>
                <b>         
                <strong>Dirección:</strong> {{dea.direccion_via_nombre}} {{dea.direccion_portal_numero}} 
                {%if dea.horario_acceso != ""%} 
                <strong>Horario:</strong> {{dea.horario_acceso}}
                {%endif%}
                </b>
            </li>
            {%endfor%}
            </form>
        </ul>
    </main>
</body>

</html>