{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>   
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <script src="{% static '/js/dea_finder.js' %}"></script>
    <title>Triaje App - Patologias</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success" id="navbar" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Triaje APP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'datos_paciente' %}">Realizar Triaje</a>
                <a class="nav-link disabled">|</a>
                <a class="nav-link active" aria-current="page" href="{% url 'finder' %}">Buscador DEA</a>
                <a class="nav-link disabled">|</a>
                <a class="nav-link active" aria-current="page" href="{% url 'finder' %}">Buscador Centros de Salud</a>
                <a class="nav-link disabled">|</a>
                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Cerrar Sesión</a>
                {% if request.user.is_staff %}
                <a class="nav-link disabled">|</a>
                <a class="nav-link" href="#">Users</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
    <form class="form-signin" action="{% url 'patologias' %}" method="post" id="id_pat">{% csrf_token %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <table class="table table-striped table-dark">
                <tr>
                    <th>USUARIO</th>
                    <th>EDAD</th>
                    <th>PESO</th>
                    <th>ALTURA</th>
                </tr>
                <tr>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.calcular_edad}}</td>
                    <td>{{usuario.peso}}</td>
                    <td>{{usuario.altura}}</td>
                </tr>
            </table>
        </div>
    <h1 >PATOLOGIAS</h1>
    <div class="container">
        <div class="col-2">
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <table class="table table-hover table-dark table-striped">
                            <tr>
                                <th scope='col'>NOMBRE</th>
                            </tr>
                        {% for patologia in patologias1 %}
                            <tr>
                                <td><input type="checkbox" value="{{ patologia.id }}" name= "{{ patologia.nombre }}" > {{patologia.nombre}}</td>
                        {% endfor %}
                        </tr>
                        </table>
                    </div>
                    <div class="col-4">
                        <table class='table table-hover table-dark '>
                            <tr>
                                <th scope='col'>NOMBRE</th>
                            </tr>
                        {% for patologia in patologias2 %}
                            <tr>
                                <td class="bg-success"><input type="checkbox" value="{{ patologia.id }}" name= "{{ patologia.nombre }}" > {{patologia.nombre}}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>              
                    <div class="col-4">
                        <table class='table table-hover table-dark'>
                            <tr>
                                <th scope='col'>NOMBRE</th>
                            </tr>
                        {% for patologia in patologias3 %}
                            <tr>
                                <td><input type="checkbox" value="{{ patologia.id }}" name= "{{ patologia.nombre }}" > {{patologia.nombre}}</td>
                        {% endfor %}
                        </tr>
                        </table>                      
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" type="submit" name ="username" value="{{ usuario.username }}">Continuar</button>
    </div>

</table>

</body>
</html>