<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
        background-image: 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F453737731207697242%2F&psig=AOvVaw3b7g1ABr4EpJ0ky7TIuZky&ust=1621511457752000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIj1wIjX1fACFQAAAAAdAAAAABAD';
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
        }
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 68%;
        }
        
        td, th {
        border: 1px solid #24c97c;
        text-align: left;
        padding: 5px;
        }
        
        tr:nth-child(even) {
        background-color: #9aec9a;
        }
    </style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    <h1 align="center">PACIENTE</h1>
    <form class="form-signin" action="{% url 'sintomas' %}" method="post" id="id_pat">{% csrf_token %}
    <table align="center">
        
        <tr>
            <th>DNI</th>
            <th>EDAD</th>
            <th>PESO</th>
            <th>ALTURA</th>
        </tr>
        <tr>
            <td>{{paciente.dni}}</td>
            <td>{{paciente.edad}}</td>
            <td>{{paciente.peso}}</td>
            <td>{{paciente.altura}}</td>
        </tr>
    </table>
    <br>

    <h1 align="center">SINTOMAS</h1>
    <h2 align="center">Seleccione los sintomas que padece</h2>
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <table class='table'>
                            <tr>
                                <th scope='col'>NOMBRE</th>
                            </tr>
                        {% for sintoma in sintomas1 %}
                            <tr>
                                <td><input type="checkbox" value="{{ sintoma.id }}" name= "{{ sintoma.nombre }}" >{{sintoma.nombre}}{{sintoma.dato_adicional}}</td>
                        {% endfor %}
                        </tr>
                        </table>
                    </div>
                    <div class="col-4">
                        <table class='table'>
                            <tr>
                                <th scope='col'>NOMBRE</th>
                            </tr>
                        {% for sintoma in sintomas2 %}
                            <tr>
                                <td><input type="checkbox" value="{{ sintoma.id }}" name= "{{ sintoma.nombre }}" >{{sintoma.nombre}}{{sintoma.dato_adicional}}</td>
                        {% endfor %}
                        </tr>
                        </table>
                    </div>                     
                    <div class="col-4">
                        <table class='table'>
                            <tr>
                                <th scope='col'>NOMBRE</th>
                            </tr>
                        {% for sintoma in sintomas3 %}
                            <tr>
                                <td><input type="checkbox" value="{{ sintoma.id }}" name= "{{ sintoma.nombre }}" >{{sintoma.nombre}}{{sintoma.dato_adicional}}</td>
                        {% endfor %}
                        </tr>
                        </table>                      
                    </div>
                </div>
            </div>
            <div class="col-2">       
            </div>
        </div>
    </div>

    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit" name ="dni" value="{{ paciente.dni }}">Continuar</button>
    </div>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>